<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Hello {{candidate_first_name}} {{candidate_last_name}}</h2>
        <h4>Your technical interview for the {{candidate_technology}} has been scheduled on {{start_date}}. Please find below details of the interview </h4>
    
      <p>Technology :  {{candidate_technology}}</p>
      <p>Schedule : {{start_date}} on {{start_time}}</p>
      <p>Experience : {{candidate_experience}} years</p>
      <p>Link to join the meeting : {{interview_link}}</p>
      
      <h4>Please note : </h4>
      <p>1. Find a quite place for the interview and keep your camera on.</p>
      <p>2. Your internet connection must be proper.</p>
    </div>
</body>
</html>